{% extends 'base.html' %} 
{% block title %}About Us{% endblock title %} 
{% block aboutactive %} active {% endblock aboutactive %}
{% block place %}About Us{% endblock place %}
{% block metaDesc %}Chrysalis is a science magazine and more than just that. It is a medium through which you can question things, a medium through which you can speak your mind, a medium to battle the dark forces of pseudoscience, a medium to celebrate science.{% endblock metaDesc %}
{% block metatags %}/about/{% endblock metatags %}
{% block schemaBlock %}
<script type="application/ld+json">
    {
    "@context": "https://schema.org/", 
    "@type": "BreadcrumbList", 
    "itemListElement": [{
        "@type": "ListItem", 
        "position": 1, 
        "name": "Home",
        "item": "https://students.iiserb.ac.in/chrysalis/"  
    },{
        "@type": "ListItem", 
        "position": 2, 
        "name": "About",
        "item": "https://students.iiserb.ac.in/chrysalis/about/"  
    }]
    }
</script>
{% endblock schemaBlock %}
{% block body %}

<!-- header -->

<section class="py-3 text-center container-fluid bg-blog">
    <div class="py-lg-5 py-3 mx-2">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fs-3">About The Magazine</h1>
            <p class="textCol fw-500 px-3">
                <span class="mainText">Chrysalis is a science magazine and more than just that. It is a medium through which you can question things, a medium through which you can speak your mind, a medium to battle the dark forces of pseudoscience, a medium to celebrate science.
            </p>
            <p class="mb-0">
                <a href="/contribute" class="my-2 me-2">
                    <button type="button" class="my-2 btn btn-sm btn-success rounded-2 fw-500 px-3"><i class="bi bi-check-circle-fill pe-1"></i> Contribute</button>
                </a>
                <a href="/blog" class="my-2">
                    <button type="button" class="my-2 btn btn-sm btn-warning rounded-2 fw-500 px-3"><i class="bi bi-ui-checks pe-1"></i> Blog</button>
                </a>
            </p>
        </div>
    </div>
</section>

<!-- content section -->

<div class="container-fluid py-5">
    <main class="container container-page">
        <p>
            Scientifically, Chrysalis is defined as a quiescent insect pupa, especially of a butterfly. It is in the chrysalis that a caterpillar prepares itself to spread its wings and emerge as a magnificent new creature.
        </p>
        <p>
            Chrysalis gives IISER Bhopal students a similar chance - an opportunity to prepare yourself for all the scientific writing you will have to do in the future. Writing is an indispensable part of science, and what better way to prepare yourself for it than by telling others what excites you the most.
        </p>
        <p>
            However, Chrysalis is more than just that. It is a medium through which you can question things, a medium through which you can speak your mind, a medium to battle the dark forces of pseudoscience, a medium to celebrate science.
        </p>
        <p>
            We are always on the lookout for new sciency-stuff to post on our website. It can be anything from articles, opinion pieces, scientific artwork and photographs, cartoons, science book reviews, some exciting sci-fi stories and the like. Do contact us if you have something to say on <a href="mailto:chrysalis@iiserb.ac.in">chrysalis@iiserb.ac.in</a>. If you can’t think of anything to write, well, contact us anyway, and maybe we could help you out with that!
        </p>
        <p>
            We welcome you to explore our website and lose yourself in this world of science.
        </p>
        <p>
            P.S. - Here’s a reminder that science also includes everything from economics, linguistics, psychology, engineering, sociology to the standard subjects of physics, chemistry, math, biology and earth sciences.
        </p>
        <p>
            You can contact us with your queries or feedbacks through our contact form <a href="/contact">here</a>.
        </p>
        <h2 class="text-center my-5">Meet the Team</h2>
        {% load static %}
        <h3 class="text-center mb-5">Editors in Chief</h3>
        <div class="d-flex align-items-center justify-content-center gap-3">
            <div>
                <img class="team-members" src="{% static 'images/team/vatsala.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Vatsala Nema</p>
                <p class="text-center text-secondary" style="font-size:13px">vatsala19@iiserb.ac.in</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/vedant.jpeg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Vedant Bhutra</p>
                <p class="text-center text-secondary" style="font-size:13px">vedant19@iiserb.ac.in</p>
            </div>
        </div>
        <h3 class="text-center my-5">Editorial Team</h3>
        <div class="d-flex flex-wrap align-items-center justify-content-center gap-3">
            <div>
                <img class="team-members" src="{% static 'images/team/anuprita.jpeg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Anuprita Kulkarni</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/ashwin.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Ashwin Ananthanarayan</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/manav.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Manav Shah</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/mansi.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Mansi Bhati</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/rahul.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Rahul Krishnakumar</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/sameer.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Sameer Sharma</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/sampurna.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Sampurna Roychoudhury</p>
            </div>
        </div>
        <h3 class="text-center my-5">Designers</h3>
        <div class="d-flex flex-wrap align-items-center justify-content-center gap-3">
            <div>
                <img class="team-members" src="{% static 'images/team/hitaishi.png' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Hitaishi Desai</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/raj_mishra.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Raj Mishra</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/saravanan.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Saravanan B.</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/yuvraj.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Yuvraj Sharma</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/User.png' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Shreeja Saha</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/User.png' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Ananya Gandhi</p>
            </div>
        </div>
        <h3 class="text-center my-5">PR Team</h3>
        <div class="d-flex flex-wrap align-items-center justify-content-center gap-3">
            <div>
                <img class="team-members" src="{% static 'images/team/hadiya.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Hadiya Ashraf</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/gargi.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Gargi Thakur Ashraf</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/mehar.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Mehar Khurana</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/neelabhro.jpeg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Neelabhro Mukherjee</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/uma.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Uma Madhuri Mogili</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/dhruv.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Dhruv Misra</p>
            </div>
        </div>
        <h3 class="text-center my-5">Web Developer</h3>
        <div class="d-flex align-items-center justify-content-center gap-3">
            <div>
                <img class="team-members" src="{% static 'images/Ajay_Choudhury.jpg' %}" alt="Ajay Choudhury" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Ajay Choudhury</p>
                <p class="text-center text-secondary" style="font-size:13px">ajayc18@iiserb.ac.in</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/ayush.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Ayush Dabra</p>
                <p class="text-center text-secondary" style="font-size:13px">ayush19@iiserb.ac.in</p>
            </div>
        </div>
        <h3 class="text-center my-5">Podcast/Video Creators</h3>
        <div class="d-flex align-items-center justify-content-center gap-3">
            <div>
                <img class="team-members" src="{% static 'images/team/S.Thrisha.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">S. Thrisha</p>
                <p class="text-center text-secondary" style="font-size:13px">Podcast/Video Host</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/soham_bhar.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Soham Bhar</p>
                <p class="text-center text-secondary" style="font-size:13px">Video Editor</p>
            </div>
        </div>
        <h3 class="text-center my-5">Trainees 2022-23</h3>
        <div class="d-flex flex-wrap align-items-center justify-content-center gap-3">
            <div>
                <img class="team-members" src="{% static 'images/team/anirudh_arora.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Anirudh Arora</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/shamika.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Shamika Tapasvi</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/gargi.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Gargi Thakur</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/nikhil_baisane.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Nikhil Baisane</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/Sunny Gupta.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Sunny Gupta</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/jalormi.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Jalormi Brahmachari</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/goutham.jpeg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Goutham Vinjamuri</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/team/Barishan Das.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Barishan Das</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/User.png' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Ranjan Bassi</p>
            </div>
            <div>
                <img class="team-members" src="{% static 'images/User.png' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Harshal Badge</p>
            </div>
        </div>
        <h3 class="text-center my-5">Student Advisor</h3>
        <div class="d-flex align-items-center justify-content-center gap-3">
            <div>
                <img class="team-members" src="{% static 'images/team/vyom.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Vyom Kulkarni</p>
            </div>
        </div>
        <h3 class="text-center my-5">Faculty Advisor</h3>
        <div class="d-flex align-items-center justify-content-center gap-3">
            <div>
                <img class="team-members" src="{% static 'images/team/varun_bhatta.jpg' %}" alt="member" width="200px" height="auto">
                <p class="text-center pt-2 mb-1">Dr. Varun Bhatta</p>
            </div>
        </div>
    </main>
</div>
{% endblock body %}