{% extends 'base.html' %} 
{% block title %}Contribute{% endblock title %}
{% block place %}Contribute{% endblock place %}
{% block metaDesc %}If you liked our content and wish to thank us, you can consider supporting us with donations.{% endblock metaDesc %}
{% block metatags %}/contribute/{% endblock metatags %}
{% block schemaBlock %}
<script type="application/ld+json">
    {
    "@context": "https://schema.org/", 
    "@type": "BreadcrumbList", 
    "itemListElement": [{
        "@type": "ListItem", 
        "position": 1, 
        "name": "Home",
        "item": "https://students.iiserb.ac.in/chrysalis/"  
    },{
        "@type": "ListItem", 
        "position": 2, 
        "name": "Contribute",
        "item": "https://students.iiserb.ac.in/chrysalis/contribute/"  
    }]
    }
</script>
{% endblock schemaBlock %}
{% block body %} 

<!-- header -->

<section class="py-3 text-center container-fluid bg-blog">
    <div class="py-lg-5 py-3 mx-2">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fs-3">Contribute</h1>
            <p class="textCol fw-500 px-3">
                If you liked our content and wish to thank us, you can consider supporting us with your valuable writings and articles.
            </p>
            <p class="mb-0">
                <a href="/site-terms" class="my-2 me-2">
                    <button type="button" class="my-2 btn btn-sm btn-success rounded-2 fw-500 px-3"><i class="bi bi-check-circle-fill pe-1"></i> Site-Terms</button>
                </a>
                <a href="/blog" class="my-2">
                    <button type="button" class="my-2 btn btn-sm btn-warning rounded-2 fw-500 px-3"><i class="bi bi-ui-checks pe-1"></i> Browse Blog</button>
                </a>
            </p>
        </div>
    </div>
</section>  

<!-- content section -->

<div class="container-fluid py-5">
    <main class="container container-page">
        <p>
            Team Chrysalis is looking for some cool science-rich content with the gravitational force strong enough to attract a mass audience, but before you submit your content here, take a look at the guidelines we made to enforce law and order in this chaotic realm of the science community. <a href="/contact">Contact us</a>.
        </p>
        <p>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScmfGFFiX0YjZqPoOzrXNTIfwfCRQsgsJ67JKA0u1A9Ds04hg/viewform?embedded=true" width="800" height="350" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </p>
        <p class="text-center pb-3">
            <button class="btn btn-success">Guidelines</button>
        </p>
        <hr>
        <h2 class="text-center pt-3">FAQ's</h2>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <p class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Who are we?
                </button>
              </p>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">We wish we were extra-dimensional beings capable of perceiving higher dimensions, enabling us to see time just as another physical dimension. Coming back to reality (whoop there goes gravity), we are just a bunch of undergrads trying to do what we love, promote science.</div>
              </div>
            </div>
            <div class="accordion-item">
              <p class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    What are we looking for in “Call for Submissions”?
                </button>
              </p>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Well, it’s pretty self-explanatory, but to be precise, we are looking for content written by people who enjoy science as we do. We are looking for some cool science-rich content with a gravitational force strong enough to attract a mass audience.</div>
              </div>
            </div>
            <div class="accordion-item">
              <p class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Who reads our blog?
                </button>
              </p>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Our readership has a broad spectrum of audiences ranging from wizards of this magical science community to muggles. We must ensure that our content should be understandable to all, even to a high school student.</div>
              </div>
            </div>
            <div class="accordion-item">
              <p class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    How long should an article be?
                </button>
              </p>
              <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">We don’t limit articles with no. of words but prefer articles with around 1000-1500 words for the blog.</div>
              </div>
            </div>
            <div class="accordion-item">
              <p class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    How do I submit content?
                </button>
              </p>
              <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">We have a google form for this purpose. You can also mail your content to chrysalis@iiserb.ac.in. For written content, submit it as a word file. We encourage sending images, infographics, etc., that can capture the theme of your written content. For audio-based interviews, a transcript of the interview also needs to be handed over. "This is the way."</div>
              </div>
            </div>
            <div class="accordion-item">
              <p class="accordion-header" id="flush-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    What if I have an idea but uncertain how to proceed?
                </button>
              </p>
              <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Pitch it to us, and your friendly neighborhood Team Chrysalis will help as you progress."</div>
              </div>
            </div>
          </div>
    </main>
</div>
{% endblock body %}