{% extends 'base.html' %} 
{% block title %}Contribute{% endblock title %}
{% block place %}Contribute{% endblock place %}
{% block metaDesc %}If you liked our content and wish to thank us, you can consider supporting us with donations.{% endblock metaDesc %}
{% block body %} 

<!-- header -->

<section class="py-3 text-center container-fluid bg-blog">
    <div class="py-lg-5 py-3 mx-2">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fs-3">Contribute</h1>
            <p class="textCol fw-500 px-3">
                If you liked our content and wish to thank us, you can consider supporting us with donations.
            </p>
            <p class="mb-0">
                <a href="/site-terms" class="my-2 me-2">
                    <button type="button" class="my-2 btn btn-sm btn-success rounded-pill fw-500 px-3"><i class="bi bi-check-circle-fill pe-1"></i> Site-Terms</button>
                </a>
                <a href="/blog" class="my-2">
                    <button type="button" class="my-2 btn btn-sm btn-warning rounded-pill fw-500 px-3"><i class="bi bi-ui-checks pe-1"></i> Browse Blog</button>
                </a>
            </p>
        </div>
    </div>
</section>  

<!-- content section -->

<div class="container-fluid py-5">
    <main class="container container-page">
        <p>
            If you like our content or our style of presentation and want to contribute some content through us to our readers, we whole-heartedly welcome you. If you feel you will be able to contribute quality contents through us to our readers you can <a href="/contact">contact us</a>, we will welcome you aboard.
        </p>
        <p>
            You can also support and appreciate our work by donating a small amount on our PayTM or Google Pay. It won’t take even a minute! Be sure to include a message, we never forget to feature our supporters on our page. You ca scan the QR codes below to donate:
        </p>
        <p>
            If you are unable to support us with money, it is not a problem at all, we value your love and appreciation more than money. You can still support us by:
        </p>
        <ul>
            <li>Sharing our articles on your social media handles.</li>
            <li>Commenting on our posts.</li>
            <li>Following us on our Instagram and subscribing us on YouTube.</li>
        </ul>
    </main>
</div>
{% endblock body %}