{% extends 'base.html' %} 
{% block title %}Science Magazine{% endblock title %}
{% block metaDesc %}OrbitGadget is a tech and study-oriented site and blog for geeks, learners and tech enthusiasts. We always love being surrounded by gadgets, codes, algorithms and ideas.{% endblock metaDesc %}
{% block metatags %}/{% endblock metatags %}
{% block schemaBlock %}
<script type="application/ld+json">
    [{
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "OrbitGadget",
    "alternateName": "OrbitGadget",
    "url": "https://orbitgadget.com/",
    "logo": "https://api.orbitgadget.com/orbitapi/staticfiles/images/logo.svg",
    "sameAs": [
        "https://instagram.com/orbitgadget",
        "https://github.com/ajaycc17",
        "https://linkedin.com/in/ajaycc17",
        "https://twitter.com/ajaycc17"
    ]
    },
    {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "OrbitGadget",
    "url": "https://orbitgadget.com/",
    "potentialAction": {
        "@type": "SearchAction",
        "target": "https://orbitgadget.com/search/?query={search_term_string}",
        "query-input": "required name=search_term_string"
    }
    }]
</script>
{% endblock schemaBlock %}
{% load static %}
{% block body %}

<!-- new hero -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        {% for post in carPost1 %}
        <a href="blog/{{post.slug}}">
        <img src="{{post.thumbnail.url}}" class="d-block w-100" alt="{{post.title}}">
        <div class="carousel-caption">
          <h1 class="fs-4 text-light fw-bold mb-0">{{post.title}}</h1>
          <small class="fw-500">Continue reading →</small>
        </div>
        </a>
        {% endfor %}
      </div>
      <div class="carousel-item">
        {% for post in carPost2 %}
        <img src="{{post.thumbnail.url}}" class="d-block w-100" alt="{{post.title}}">
        <div class="carousel-caption">
          <h1 class="fs-4 text-light fw-bold mb-0">{{post.title}}</h1>
          <small class="fw-500">Continue reading →</small>
        </div>
        {% endfor %}
      </div>
      <div class="carousel-item">
        {% for post in carPost3 %}
        <img src="{{post.thumbnail.url}}" class="d-block w-100" alt="{{post.title}}">
        <div class="carousel-caption">
          <h1 class="fs-4 text-light fw-bold mb-0">{{post.title}}</h1>
          <small class="fw-500">Continue reading →</small>
        </div>
        {% endfor %}
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- home body -->
  <div class="container py-4">
    <div class="row g-4">
        <!-- main section -->
      <main class="col-md-8 mt-3 mainPost">
        <!-- topics -->
        <div>
            <div class="album py-4">
                <div class="mb-4 pb-2 d-flex align-items-center justify-content-between">
                    <h3 class="mb-0"><i class="bi bi-arrow-right-circle-fill pe-2"></i>Browse Topics</h3>
                    <a href="/blog/topics">
                        <button type="button" class="btn btn-sm btn-success rounded-2 fw-500 me-2">View All</button>
                    </a>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                    {% for cat in topics %}
                    <div class="col">
                        <div class="card h-100 topic-card bg-blog">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <div class="pb-4">
                                    <div class="d-flex mb-2 align-items-center">
                                        <img src="{{cat.image.url}}" width="60px" height="auto" class="img-fluid bg-card rounded-circle p-1" alt="{{cat.title}}">
                                        <h5 class="card-title mb-0 ms-3">{{cat.title|capfirst}}</h5>
                                    </div>
                                    <p class="card-text white">{{cat.description}}</p>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    {% load extras %}
                                    <span class="spaceGrot d-flex align-items-center white"><span class="spaceGrot bg-lime px-2 fw-500 text-dark rounded-3 me-2">{{ postCount|get_val:cat.title }}</span>articles</span>
                                    <a href="/blog/{{cat.title}}">
                                        <button class="btn btn-sm btn-warning textBlack fw-500 rounded-pill px-3">See →</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- posts -->
        <div class="album py-4">
            <div class="mb-4 pb-2 d-flex align-items-center justify-content-between">
                <h3 class="mb-0"><i class="bi bi-arrow-right-circle-fill pe-2"></i>Recent Articles</h3>
                <a href="/blog">
                    <button type="button" class="btn btn-sm btn-success rounded-2 fw-500 me-2">View All</button>
                </a>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                {% for post in allPosts %}
                <article class="col">
                    <div class="card h-100 bg-blog">
                        <a href="/blog/{{post.slug}}">
                            <img src="{{post.thumbnail.url}}" alt="{{post.title}}">
                        </a>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div>
                                <a href="/blog/{{post.slug}}">
                                    <h3 class="fs-5 pb-2 white">{{post.title}}</h3>
                                </a>
                                <div class="metaStrip d-flex justify-content-between">
                                    <small class="white fw-500"><i class="bi bi-clock-history pe-1 textSky"></i> {{post.timeStamp|date:"d M, Y"}}</small>
                                    <a href="/blog/{{post.category}}" class="d-flex">
                                        <small class="white fw-500"><i class="bi bi-layers pe-1 textSky"></i> {{post.category|capfirst}}</small>
                                    </a>
                                </div>

                                <div class="card-text">{{post.content|safe|truncatechars:190}}</div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="/about">
                                    <div class="btn-group d-flex align-items-center">
                                        <img class="me-2 rounded-circle" src="{% static 'images/User.png' %}" width="25px" height="auto" alt="{{post.author}}">
                                        <small class="boldText fw-500">{{post.author}}</small>
                                    </div>
                                </a>
                                <a href="/blog/{{post.slug}}">
                                    <button type="button" class="btn btn-sm px-3 rounded-pill fw-500 btn-warning">Read →
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
        <!-- podcasts -->
        <div>
            <div class="album py-4">
                <div class="mb-4 pb-2 d-flex align-items-center justify-content-between">
                    <h3 class="mb-0"><i class="bi bi-play-circle-fill pe-2"></i>Listen to Podcasts</h3>
                    <a href="/blog/topics">
                        <button type="button" class="btn btn-sm btn-success rounded-2 fw-500 me-2">View All</button>
                    </a>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                    {% for pod in allPodcasts %}
                    <article class="col">
                      <div class="card h-100 topic-card" style="background-color: #195aa2">
                          <div class="card-body d-flex flex-column justify-content-between">
                              <div>
                                  <div class="d-flex mb-2 align-items-center">
                                      <img src="{% static 'images/play.svg' %}" width="60px" height="auto" class="img-fluid bg-lightSky rounded-circle p-1" alt="{{cat.title}}">
                                      <h5 class="card-title text-light mb-0 ms-3">{{pod.title|capfirst}}</h5>
                                  </div>
                                  <div class="mt-3 text-light">
                                      {{pod.content|safe|truncatechars:60}}
                                  </div>
                              </div>
                              <div class="d-flex align-items-center justify-content-between">
                                  <span class="d-flex align-items-center text-light"><i class="bi bi-play-circle pe-2"></i> Psi-Comm</span>
                                  <a href="/podcasts/{{pod.slug}}">
                                      <i class="bi bi-play-circle-fill fs-3 text-light"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </article>
                    {% endfor %}
                </div>
            </div>
        </div>
        </main>
  
      <!-- sidebar -->
      <aside class="col-md-4 sideBar ps-3 mb-3">
  
          <!-- user details -->
          <div class="mb-4">
            <div class="alert pt-4 pb-3 bg-blog" role="alert" style="border-radius:15px;">
              <h4 class="text-center text-white fs-5">FIND US ON</h4>
              <p class="text-center mainText mt-3 mb-0 d-flex justify-content-between px-4" style="background-color: var(--bg-blog2);border-radius: 15px;padding-top: 6px;padding-bottom: 5px">
                <i class="bi bi-instagram fs-4 text-white"></i>
                <i class="bi bi-facebook fs-4 text-white"></i>
                <i class="bi bi-twitter fs-4 text-white"></i>
                <i class="bi bi-youtube fs-4 text-white"></i>
                <i class="bi bi-linkedin fs-4 text-white"></i>
              </p>
            </div>
          </div>
  
          <!-- recommended post -->
          <div class="mb-4">
            <h3 class="d-inline pb-1 fs-5">LATEST PODCAST:</h3>
            <div class="mt-3">
              <iframe src="{{embedPod}}" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
          </div>

          <div class="mb-4">
            <h3 class="d-inline pb-1 fs-5">LATEST TWEETS:</h3>
            <div class="mt-3 border border-2 p-2" style="border-radius: 15px;">
              <a class="twitter-timeline bg-warning" data-height="440" data-chrome="noscrollbar noheader nofooter noborders" data-aria-polite="assertive" href="https://twitter.com/chrysalisiiserb?ref_src=twsrc%5Etfw">Tweets by chrysalisiiserb</a> 
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>
  
        <div class="position-sticky" style="top: 4.5rem;">
          <!-- categories -->
          <div class="mb-4">
            <h3 class="d-inline pb-1 fs-5">COMING UP NEXT MONTH:</h3>
            <div class="mt-3">
              {% for post in recommend %}
              <a class="d-flex align-items-center py-3 px-3 topic-card bg-blog mb-2" href="#">
                <i class="bi bi-arrow-right-circle-fill pe-3 fs-5 text-warning"></i>
                <div>
                  <p class="mb-0 fw-500 text-white">{{post.title}}</p>
                  <small class="textCol"><span class="badge bg-back">{{post.timeStamp|date:"M, Y"}}</span> <span class="badge bg-back">{{post.category|capfirst}}</span></small>
                </div>
              </a>
              {% endfor %}
            </div>
        </div>  
        </div>
      </aside>
    </div>
  </div>
{% endblock body %}

{% block js %}
<script>
    var element = document.getElementById("place");
    element.style.setProperty("display", "none", "important")
</script>
{% endblock js %}