{% extends 'base.html' %} 
{% block title %}{{query}}{% endblock title %}
{% block blogactive %} active {% endblock blogactive %}
{% block place %}Search{% endblock place %}
{% block metaDesc %}Search results for user provided query{% endblock metaDesc %}
{% load static %}
{% block body %} 
{% if allPosts|length == 0 %}
<main class="container-fluid py-4">
    <div class="container">
        <h1 class="fs-2 text-center">
            SORRY! NO RESULTS FOUND
        </h1>
        <p class="text-center boldText pb-4">We could not find anything related to your search query...</p>
        <img style="max-width:800px;" class="mx-auto d-block pb-4" src="{% static 'images/Not found.png' %}" alt="No Results Found" width="100%">
        <h4 class="text-center mainText fs-5 mt-4">... SUGGESTIONS ...</h4>
        <p class="text-center boldText">Try to spell correctly • Try different keywords • Try general keywords</p>

        <div class="mt-4 mb-4 d-flex justify-content-center">
            <a href="/"><button type="button" class="btn btn-sm btn-success rounded-pill fw-500 px-3 py-2 me-3"><i class="bi bi-grid-fill pe-1"></i> Back to Home</button></a>
            <a href="/blog"><button type="button" class="btn btn-sm btn-warning rounded-pill fw-500 px-3 py-2"><i class="bi bi-hdd-rack-fill pe-1"></i> Explore Blog</button></a>
        </div>
    </div>
</main>
{% endif %}

{% if allPosts|length != 0 %}

<div class="pb-5 bg-back">

    <!-- header -->

    <section class="py-3 text-center container-fluid bg-blog">
        <div class="py-lg-5 py-3 mx-2">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fs-2">{{total}} Results found for:</h1>
                <p class="textCol fw-500 px-3">
                    <b>Your query:</b> {{query|truncatechars:151}}
                </p>
                <div class="d-block mx-3">
                    <form method="get" action="/search/" class="d-flex mb-3">
                        <input type="search" class="form-control rounded-0 border-0" name="query" id="query" placeholder="Search for...">
                    </form>
                </div>
                <p class="mb-0">
                    <a href="/blog" class="my-2">
                        <button type="button" class="my-2 btn btn-sm btn-success rounded-pill fw-500 px-3"><i class="bi bi-ui-checks pe-1"></i> Back to Blog</button>
                    </a>
                </p>
            </div>
        </div>
    </section>

<!-- post lists -->

    <main class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for post in allPosts %}
                <article class="col">
                    <div class="card h-100 shadow bg-card">
                        <a href="/blog/{{post.slug}}">
                            <img src="{{post.thumbnail.url}}" alt="{{post.title}}">
                        </a>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div>
                                <a href="/blog/{{post.slug}}">
                                    <h3 class="fs-4 pb-2 mainText">{{post.title}}</h3>
                                </a>
                                <div class="pb-3 d-flex justify-content-between">
                                    <small class="boldText fw-500"><i class="bi bi-clock-history pe-1"></i><span class="border-bottom border-2 border-info">Updated on:</span> {{post.timeStamp|date:"d M, Y"}}</small>
                                    <a href="/blog/{{post.category}}" class="d-flex">
                                        <small class="boldText fw-500"><i class="bi bi-layers pe-1"></i> <span class="border-bottom border-2 border-warning">{{post.category|capfirst}}</span></small>
                                    </a>
                                </div>

                                <div class="card-text">{{post.content|safe|truncatechars:190}}</div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="/about">
                                    <div class="btn-group d-flex align-items-center">
                                        <img class="me-2 rounded-circle" src="{% static 'images/Ajay Choudhury.jpg' %}" width="32px" alt="{{post.author}}">
                                        <small class="boldText fw-500">{{post.author}}</small>
                                    </div>
                                </a>
                                <a href="/blog/{{post.slug}}">
                                    <button type="button" class="btn btn-sm px-3 rounded-pill fw-500 btn-warning">Read →
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
            </div>
        </div>
    </main>

<!-- pagination -->

    <aside class="container d-flex justify-content-between">
        {% if prev %}
            <a class="text-white" href="/search/?query={{query}}&page={{prev}}">
                <button type="button" class="btn btn-sm btn-success rounded-pill fw-500 px-3">← Previous</button>
            </a>
        {% else %}
            <a class="text-white" href="#">
                <button type="button" class="btn btn-sm btn-success rounded-pill fw-500 px-3" disabled>← Previous</button>
            </a>
        {% endif %}

        {% if nxt %}
            <a class="text-white" href="/search/?query={{query}}&page={{nxt}}">
                <button type="button" class="btn btn-sm btn-success rounded-pill fw-500 px-3">Next →</button>
            </a>
        {% else %}
            <a class="text-white" href="#">
                <button type="button" class="btn btn-sm btn-success rounded-pill fw-500 px-3" disabled>Next →</button>
            </a>
        {% endif %}
    </aside>
</div>
{% endif %}
{% endblock body %}
