{% extends "base.html" %}
{% block title %}Set New Password{% endblock title %}
{% block place %}Account{% endblock place %}
{% block body %}
<main class="container my-5 container-reset">
  <h1 class="fs-4 text-center text-white">Choose New Password</h1>
  <p class="text-center pt-2">
    Try choosing a strong password. You can use our Password Generator Tool to generate random and strong passwords.
  </p>
  <div class="subtleBorder px-3 pb-4 mx-auto d-block my-4" style="max-width:480px;">
    <form method="POST">
      {% csrf_token %}
      {% include "bs5_form.html" with form=form %}
      <div class="mt-3">
        <button type="submit" class="btn btn-danger text-wrap px-4 py-2 mt-3 w-100 fw-500" name="button">
          RESET
        </button>
      </div>
    <form>
  </div>
  <div class="alert bg-blog" role="alert">
    <span class="fw-500"><i class="bi bi-exclamation-circle-fill pe-2"></i>Having trouble accessing your account?</span> You can refer to our support page for an idea. You can also contact us <a class="fw-500 text-warning" href="/contact">here</a> for help.
  </div>
</main>
{% endblock %}