{% extends 'base.html' %}
{% block title %}Password Reset{% endblock title %}
{% block body %}
<main class="container my-5 container-reset">
  <h3 class="text-center text-white">Send Recovery Email</h3>
  <p class="text-center pt-2">
    Forgotten your password? Enter your email address below, click the button, and we’ll send you a link to reset it:
  </p>
  <div class="subtleBorder rounded-3 px-3 pb-4 mx-auto d-block my-4" style="max-width:480px;">
    <form method="POST">
      {% csrf_token %}
      {% include "bs5_form.html" with form=form %}
      <div class="mt-2">
        <button type="submit" class="btn btn-danger text-wrap px-4 py-2 mt-3 w-100 fw-500" name="button">
          SEND PASSWORD RESET EMAIL
        </button>
      </div>
    <form>
  </div>
  <div class="alert bg-card" role="alert">
    <span class="fw-500"><i class="bi bi-exclamation-circle-fill pe-2"></i>Having trouble accessing your account?</span> You can refer to our support page for an idea. You can also contact us <a class="fw-500 text-warning" href="/contact">here</a> for help.
  </div>
</main>
{% endblock body %}