:root {
  --bg-blog: #1f364d;
  --bg-light: #f4f5f7;
  --bg-card: #1f364d;
  --bg-search: #315375;
  --bg-back: #0c1f31;
  --mainText: #d1dbe6;
  --textCol: #91a8be;
  --boldText: #9cb3c9;
  --white: #ffffff;
  --lightText: #a7bacd;
  --subtleBorder: #4c6d8f;
  --link: #ffc600;
  --bg-nav: #061422;
}

/* to override horizontal scroll */
/* html, body{
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
} */

/* class variables */
.fw-500 {
  font-weight: 500;
}
.bg-blog {
  /* background: url("/static/images/blogBack.jpg") center/cover no-repeat; */
  background: var(--bg-blog);
}
.bg-card {
  background-color: var(--bg-card);
}
.bg-search {
  background-color: var(--bg-search);
}
.bg-back {
  background-color: var(--bg-back);
}
.mainText {
  color: var(--mainText);
}
.textCol {
  color: var(--textCol);
}
.boldText {
  color: var(--boldText);
}
h1 {
  color: var(--white);
}
.lightText {
  color: var(--lightText);
}
.subtleBorder {
  border: solid 2px var(--subtleBorder);
}
.bg-nav {
  background-color: var(--bg-nav);
}

/* containers */
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.container {
  max-width: 1290px !important;
}
.container-page {
  max-width: 900px !important;
}
.container-reset {
  max-width: 750px !important;
}
.card {
  border: none;
}
body {
  background-color: var(--bg-back);
  color: var(--mainText);
}
.commentParent{
  border-left: solid 3px var(--bg-card);
}
.replyChild{
  border-left: solid 3px var(--bg-card);
}

/* TOC */
.mce-toc{
  background-color: var(--bg-card);
  padding: 10px;
  margin-bottom: 1.2rem;
}
.mce-toc a{
  border: none !important;
}
.mce-toc h3{
  border-bottom: dashed 2px var(--subtleBorder);
  margin-bottom: 20px;
}

/* navbar and footer */
.navbar-toggler[aria-expanded="true"] {
  margin-right: 0 !important;
}
.footerMenu {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.6em;
}
.footerMenu li a {
  color: var(--textCol);
  font-size: 0.9rem;
  line-height: 1.7em;
}
footer p {
  font-size: 0.9rem;
  color: var(--boldText);
}
.footerMenu li a:hover {
  color: var(--white);
}
footer h3 {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}
.fUpper h3 {
  font-family: "Inter", sans-serif;
}
.contIcon1,
.contIcon2 {
  color: var(--textCol);
}
.contIcon1:hover,
.contIcon2:hover {
  color: var(--white);
}

/* scroll to top button */
#scTop {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
}

/* fonts override */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", sans-serif;
}

p,
a,
li,
blockquote {
  font-family: "Inter", sans-serif;
}

/* links and color */
a {
  text-decoration: none;
}
a:hover {
  color: var(--link);
}
.og-content a,
.container-page a {
  font-weight: 500;
  color: var(--link);
  border-bottom: solid 1px var(--textCol);
}
.og-content p,
.container-page p {
  line-height: 1.7em;
  color: var(--mainText);
}
.og-content h2,
.container-page h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
.og-content h3,
.container-page h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  line-height: 1.7em;
  font-weight: 600;
}
.og-content h4,
.container-page h4 {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  line-height: 1.7em;
  font-weight: 600;
}
.breadcrumb-item a {
  font-size: 14px;
  color: var(--boldText);
}

/* author section icons */
.authSocial {
  font-size: 16px;
  padding-left: 18px;
  color: var(--textCol);
}
.authSocial:hover {
  color: var(--white);
}

/* image override */
img {
  max-width: 100%;
  height: auto;
}

/* cursor pointers */
.cursorPoint,
.cursorPoint2 {
  cursor: pointer;
  color: #a7bacd;
}
.cursorPoint:hover {
  color: #ffc600;
}
.cursorPoint2:hover {
  color: #dc3545;
}

/* dropdown */
.userDrop {
  position: absolute;
  margin: 0px;
  inset: 10px auto auto 0px;
  transform: translate3d(-110px, 10px, 0px);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 14px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--textCol);
  border-radius: 0px;
}
::-webkit-scrollbar-track {
  background: var(--bg-card);
}

/* placeholder */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--bg-light) !important;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--bg-light) !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--bg-light) !important;
}

/* autofill input fields override */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid green;
  -webkit-text-fill-color: var(--mainText);
  -webkit-box-shadow: 0 0 0px 1000px var(--bg-search) inset;
  transition: var(--bg-card) 5000s ease-in-out 0s;
}

/* form control */
.form-control:focus{
  box-shadow: none; 
  -webkit-box-shadow: none;
  background-color: var(--bg-search);
  caret-color: white;
  color: var(--mainText);
}
.form-control{
  box-shadow: none; 
  border: solid 2px var(--subtleBorder);
  -webkit-box-shadow: none;
  background-color: var(--bg-search);
  caret-color: white;
  color: var(--mainText);
}
.form-control:read-only{
  color: var(--boldText);
  background-color: var(--bg-card);
}

/* media queries */
@media (min-width: 992px) {
  .userDrop {
    transform: translate3d(-30px, 10px, 0px);
  }
  .nav-item {
    padding-right: 1rem;
  }
}
@media (max-width: 992px) {
  .userName {
    display: none;
  }
}
@media (max-width: 991px) {
  .nav-item {
    border-bottom: dashed 2px var(--subtleBorder);
  }
}
@media (min-width: 768px) {
  .mainPost {
    border-right: dashed 2px var(--subtleBorder);
  }
}
@media (max-width: 767px) {
  .sideBar {
    display: none;
  }
  .authSec {
    margin-right: -12px !important;
    margin-left: -12px !important;
  }
  .authImg {
    justify-content: center !important;
    padding-bottom: 15px;
  }
  .authBio {
    text-align: center;
  }
  .authTitle {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px !important;
    line-height: 2.2em;
  }
  #scTop {
    display: none !important;
  }
  .shareSec {
    display: none !important;
  }
}
@media(max-width: 500px){
  .place{
    display: none !important;
  }
}