{% extends 'base.html' %} 
{% block title %}{{post.title}}{% endblock title %} 
{% block blogactive %} active {% endblock blogactive %}
{% block place %}Article{% endblock place %}
{% block metaDesc %}{{post.content|safe|truncatechars:157}}{% endblock metaDesc %}
{% block metatags %}/blog/{{post.slug}}/{% endblock metatags %}
{% block schemaBlock %}
<script type="application/ld+json">
  [{
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://students.iiserb.ac.in/chrysalis/blog/{{post.slug}}/"
    },
    "headline": "{{post.title|title}}",
    "description": "{{post.content|safe|truncatechars:157}}",
    "image": "{{post.thumbnail.url}}",  
    "author": {
      "@type": "Person",
      "name": "{{post.author|title}}",
      "url": "https://students.iiserb.ac.in/chrysalis/about/"
    },  
    "publisher": {
      "@type": "Organization",
      "name": "OrbitGadget",
      "logo": {
        "@type": "ImageObject",
        "url": "https://students.iiserb.ac.in/chrysalis/static/images/logo.svg"
      }
    },
    "datePublished": "{{post.timeStamp|date:"Y"}}-{{post.timeStamp|date:"m"}}-{{post.timeStamp|date:"d"}}",
    "dateModified": "{{post.timeStamp|date:"Y"}}-{{post.timeStamp|date:"m"}}-{{post.timeStamp|date:"d"}}"
  },
  {
    "@context": "https://schema.org/", 
    "@type": "BreadcrumbList", 
    "itemListElement": [{
      "@type": "ListItem", 
      "position": 1, 
      "name": "Home",
      "item": "https://students.iiserb.ac.in/chrysalis/"  
    },{
      "@type": "ListItem", 
      "position": 2, 
      "name": "Blog",
      "item": "https://students.iiserb.ac.in/chrysalis/blog/"  
    },{
      "@type": "ListItem", 
      "position": 3, 
      "name": "{{post.category|capfirst}}",
      "item": "https://students.iiserb.ac.in/chrysalis/blog/{{post.category}}/"  
    },{
      "@type": "ListItem", 
      "position": 4, 
      "name": "{{post.title|title}}",
      "item": "https://students.iiserb.ac.in/chrysalis/blog/{{post.slug}}/"  
    }]
  }]
</script>
{% endblock schemaBlock %}

{% load static %}
{% block body %}
<div class="container py-4">
  <div class="row g-4">
    <!-- post content section -->
    <div>
      <!-- header -->
      <nav style="--bs-breadcrumb-divider: '•';" aria-label="breadcrumb">
        <ol class="breadcrumb mb-2">
          <li class="breadcrumb-item fw-500"><a href="/">Home</a></li>
          <li class="breadcrumb-item fw-500"><a href="/blog">Blog</a></li>
          <li class="breadcrumb-item fw-500"><a href="/blog/{{post.category}}">{{post.category|capfirst}}</a></li>
        </ol>
      </nav>

      <h1 class="fs-1">{{post.title}}</h1>

      <div class="col-md-8">
        <div class="spaceGrot">
          {{post.content|safe|truncatechars:150}}
        </div>
  
        <div class="spaceGrot fw-500 d-flex flex-column flex-sm-row justify-content-between">
          <div>
            <a href="/blog/{{post.author}}">
              <small class="text-warning"><img class="me-1 rounded-circle" src="{% static 'images/User.png' %}" width="25px" height="auto" alt="{{post.author}}"> {{post.author|title}}</small>
            </a>
            <small class="ms-1 text-warning">• <span class="ms-1">{{post.timeStamp|date:"d M, Y"}}</span></small>
            <small class="text-warning ms-1 d-sm-none">• <span class="ms-1">{{readTime}} mins</span></small>
          </div>
          <div class="d-none d-sm-block">
            <small class="text-warning"><i class="bi bi-alarm pe-1"></i> {{readTime}} mins</small>
          </div>
        </div>
      </div>
    </div>
      

    <main class="col-md-8 mt-3 mainPost">
      <div class="mb-3">
        <img src="{{post.thumbnail.url}}" alt="{{post.title}}" style="width: -webkit-fill-available">
      </div>

      <!-- end of header -->

      <article class="pt-2 og-content">
        {{post.content|safe}}
      </article>

      <!-- anonymous likes for article -->

      <div class="my-4 mb-3 pt-3 pb-2">
        <form action="" method="post">
          <span class="fw-500 fs-5 spaceGrot me-3">Was this Article Helpful?</span>
          {% csrf_token %}
          <input type="hidden" name="path" value="{{request.path}}">
          <button class="btn btn-sm rounded-2 btn-warning me-2 py-0 fw-500" type="submit" value="on" name="liker"><i class="bi bi-hand-thumbs-up-fill fs-5"></i></button>
          <button class="btn btn-sm rounded-2 btn-warning py-0 fw-500" type="submit" value="on" name="disliker"><i class="bi bi-hand-thumbs-down-fill fs-5"></i></button>
        </form>
      </div>

      <!-- author section -->

      <section class="py-4 authSec">
        <div class="bg-nav topic-card-auth mainText py-4 px-2 row gx-4 d-flex mx-0">
          <div class="authImg col-md-2 d-flex align-items-center justify-content-between">
            <div>
              <img class="rounded-circle bg-light" src="{% static 'images/chrysalis.png' %}" alt="{{post.author}}" width="100px" height="auto">
            </div>
          </div>
          <div class="col-md-10">
            <div>
              <div class="authTitle pb-2 d-flex justify-content-between align-items-center">
                <h4 class="fs-5 mb-0 textSky">Chrysalis Team</h4>
                <span>
                  <a class="authSocial ps-0" href="https://twitter.com/chrysalisiiserb"><i class="bi bi-twitter"></i></a>
                  <a class="authSocial" href="/contact/"><i class="bi bi-envelope-fill"></i></a>
                </span> 
              </div>
              <p class="authBio mb-0">We are always on the lookout for new sciency-stuff to post on our blog and magazine. It can be anything from articles, opinion pieces, scientific artwork and photographs, cartoons, science book reviews, some exciting sci-fi stories and the like. Do contact us.</p>
            </div>
          </div>
        </div>
      </section>

      <!-- navigation -->
      <section class="py-4">
        <div class="row g-2">
          <div class="col-md-6">
          {% if prevPost is not None %}
            <a href="/blog/{{prevPost.slug}}" class="text-warning">
              <div class="py-4 card h-100 bg-nav topic-card p-3 d-flex flex-column align-items-start">
                <p class="fw-500 mb-2 white">{{prevPost.title}}</p>
                <div>
                  <button type="button" class="btn btn-sm py-0 rounded-pill fw-500 btn-warning">← Previous</button>
                </div>
              </div>
            </a>
          {% endif %}
          </div>
          <div class="col-md-6">
          {% if nextPost is not None %}
            <a href="/blog/{{nextPost.slug}}" class="text-warning">
              <div class="py-4 card h-100 bg-nav topic-card p-3 d-flex flex-column align-items-end">
                <p class="fw-500 mb-2 text-end white">{{nextPost.title}}</p>
                <div>
                  <button type="button" class="btn btn-sm py-0 rounded-pill fw-500 btn-warning">Next →</button>
                </div>
              </div>
            </a>
          {% endif %}
          </div>
        </div>
      </section>


      <!-- comments section -->

      <section class="comments">
        <div class="d-flex align-items-center justify-content-between py-3" style="border-bottom: dashed 2px var(--subtleBorder);border-top: dashed 2px var(--subtleBorder);">
          <h3 class="fs-4 mb-0"><i class="textCol bi bi-chat-dots-fill"></i> {{comments.count}} Comments</h3>
          <a href="/site-terms">
            <div class="d-flex align-items-center textCol">
              <i class="bi bi-exclamation-circle-fill fw-500 pe-1"></i>
              <span class="fw-500">Info</span>
            </div>
          </a>
        </div>

        <div class="mt-3 mb-4">
          {% if user.is_authenticated %}
          <form action="/blog/postComment/" method="post">
            {% csrf_token %}
            <div class="mt-4 mb-2">
              <textarea class="form-control bg-transparent subtleBorder text-white" name="comment" id="comment" rows="5" aria-describedby="commentHelp" placeholder="Your comment here." required></textarea>
              <div id="commentHelp" class="form-text textCol">Please try to be clear, meaningful and precise in the comment. </div>
            </div>
            <input type="hidden" name="postSno" value="{{post.sno}}">
            <input type="hidden" name="parentSno" value="">
            <button type="submit" class="btn btn-sm px-3 rounded-pill fw-500 btn-success">Submit →</button>
          </form>

          {% else %}
          <div class="alert bg-nav topic-card text-center" role="alert">
            Please <a href="#" class="alert-link text-warning" data-bs-toggle="modal" data-bs-target="#loginmodal">LOG IN</a> to continue the discussion...
          </div>
          {% endif %}
        </div>

        <!-- comments display -->

        {% for comment in comments %}

        <div class="py-2 ps-2 my-3 commentParent">
          <div class="d-flex align-items-center justify-content-between">
            <div>
                {% load extras %}
                <img src="https://gravatar.com/avatar/{{ comment.user.email|md5 }}?d=wavatar" class="me-2 rounded-circle" alt="{{comment.user.username}}" class="rounded-circle" width="35px" height="auto">
                <small><b class="textCol">{{comment.user.username|capfirst}}</b></small>&nbsp; • &nbsp;<small class="fw-500 textCol">{{comment.timeStamp|date:"d M, Y"}}</small>
            </div>

            {% if user.is_authenticated %}
            <div class="cursorPoint me-3 d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#replyBox{{comment.sno}}" aria-expanded="false" aria-controls="replyBox{{comment.sno}}">
              <i class="bi bi-reply-fill fs-5 pe-1"></i> <span class="fw-500">Reply</span>
            </div>
            {% else %}
            <div class="cursorPoint2 me-3 d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#loginmodal">
              <i class="bi bi-exclamation-circle-fill pe-1"></i><span class="fw-500">Log in</span>
            </div>
            {% endif %}
          </div>

          <div class="d-flex align-items-center pt-2">
            <p class="mb-0 mainText">{{comment.comment|capfirst}}</p>
          </div>

          {% if user.is_authenticated %}
          <div class="collapse" id="replyBox{{comment.sno}}">
            <div class="card bg-back card-body my-2">
              <form action="/blog/postComment/" method="post">
              {% csrf_token %}
                <div class="mb-3">
                  <textarea class="form-control bg-transparent subtleBorder text-white" name="comment" rows="3" placeholder="Your reply here."></textarea>
                  <input type="hidden" name="parentSno" value="{{comment.sno}}">
                </div>
                <input type="hidden" name="postSno" value="{{post.sno}}">
                <button type="submit" class="btn btn-sm px-3 rounded-pill fw-500 btn-success">Submit →</button>
              </form>
            </div>
          </div>
          {% endif %}

          <!-- Replies -->

          <div class="replies">
            {% load extras %}
            {% for reply in repDict|get_val:comment.sno %}
            <div class="py-2 ps-2 mt-3 ms-2 replyChild">
              <div class="d-flex align-items-center">
                <img src="https://gravatar.com/avatar/{{ reply.user.email|md5 }}?d=wavatar" class="me-2 rounded-circle" alt="{{reply.user.username}}" class="rounded-circle" width="35px" height="auto">
                <small><b class="textCol">{{reply.user.username|capfirst}}</b></small>&nbsp; • &nbsp;<small class="fw-500 textCol">{{comment.timeStamp|date:"d M, Y"}}</small>
              </div>
    
              <div class="d-flex align-items-center pt-2">
                <p class="mb-0 mainText">{{reply.comment|capfirst}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </section>
    </main>

    <!-- sidebar -->
    <aside class="col-md-4 sideBar ps-3 mb-3">
      
      <div class="position-sticky" style="top: 4.5rem;">
        <!-- recommended post -->
        <div class="mb-4">
          <h3 class="d-inline pb-1 fs-5">Recommended:</h3>
          <div class="mt-3">
            {% for recommend in recommended %}
            <a class="d-flex align-items-center py-3 px-3 topic-card bg-blog mb-2" href="/blog/{{recommend.slug}}">
              <i class="bi bi-arrow-right-circle-fill pe-3 fs-5 text-warning"></i>
              <div>
                <p class="mb-0 fw-500 text-white">{{recommend.title}}</p>
                <small class="textCol"><span class="badge bg-back">{{recommend.timeStamp|date:"M, Y"}}</span> <span class="badge bg-back">{{recommend.category|capfirst}}</span></small>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>

{% endblock body %}

{% block socialbar %}
    <!-- social bar -->
    <div class="position-fixed p-3 bg-blog share-bar" style="right:0;margin:10% auto;z-index:1111111;border-radius:10px 0 0 10px">
      <div class="d-flex flex-column">
        <a class="pb-3" href="https://www.facebook.com/sharer/sharer.php?u=https://orbitgadget.com/blog/{{post.slug}}" target="_blank"><i class="bi bi-facebook fs-4 pb-3 text-primary"></i></a>
        <a class="pb-3" href="https://twitter.com/intent/tweet?url=https://orbitgadget.com/blog/{{post.slug}}&text=" target="_blank"><i class="bi bi-twitter fs-4 pb-3 text-info"></i></a>
        <a class="pb-3" href="https://api.whatsapp.com/send?text=https://orbitgadget.com/blog/{{post.slug}}" target="_blank" rel="noopener noreferrer"><i class="bi bi-whatsapp fs-4 pb-3 text-success"></i></a>
        <a class="pb-3" href="https://www.linkedin.com/sharing/share-offsite/?url=https://orbitgadget.com/blog/{{post.slug}}" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin fs-4 pb-3 text-warning"></i></a>
        <a href="https://getpocket.com/save?url=https://orbitgadget.com/blog/deploy-django-application-with-sqlite-gunicorn-and-nginx-in-ubuntu-20-04" target="_blank" rel="noopener noreferrer" data-event-category="Social" data-event-action="Share:pocket"><i class="bi bi-bookmark-plus-fill fs-4 text-danger"></i></a>
      </div>
    </div>
{% endblock socialbar %}
