{% extends 'base.html' %} 
{% block title %}403: Forbidden{% endblock title %}
{% load static %}
{% block body %}
<main class="container-fluid py-4">
    <div class="container">
        <h1 class="fs-3 text-center">
            403: FORBIDDEN
        </h1>
        <p class="text-center pb-4 boldText">You are unauthorized to view this page!</p>
        <img style="max-width:800px;" class="mx-auto d-block pb-4" src="{% static 'images/403.png' %}" alt="Forbidden" width="100%">
        <h4 class="text-center mainText fs-5 mt-4">... SUGGESTIONS ...</h4>
        <p class="text-center boldText">Check the URL • Try Search Option • Explore HomePage</p>

        <div class="mt-4 mb-4 d-flex justify-content-center">
            <a href="/"><button type="button" class="btn btn-sm btn-success rounded-0 fw-500 px-3 py-2 me-3"><i class="bi bi-grid-fill pe-1"></i> Back to Home</button></a>
            <a href="/blog"><button type="button" class="btn btn-sm btn-warning rounded-0 fw-500 px-3 py-2"><i class="bi bi-hdd-rack-fill pe-1"></i> Explore Blog</button></a>
        </div>
    </div>
</main>
{% endblock body %}