{% extends 'base.html' %} 
{% block title %}Projects{% endblock title %} 
{% block place %}Projects{% endblock place %}
{% block metaDesc %}We love to cover various programming and development projects under the projects section.{% endblock metaDesc %}
{% block metatags %}/projects/{% endblock metatags %}
{% block schemaBlock %}
<script type="application/ld+json">
    {
    "@context": "https://schema.org/", 
    "@type": "BreadcrumbList", 
    "itemListElement": [{
        "@type": "ListItem", 
        "position": 1, 
        "name": "Home",
        "item": "https://orbitgadget.com/"  
    },{
        "@type": "ListItem", 
        "position": 2, 
        "name": "Projects",
        "item": "https://orbitgadget.com/projects/"  
    }]
    }
</script>
{% endblock schemaBlock %}
{% load static %}
{% block body %}

<!-- header section -->

<section class="py-3 text-center container-fluid bg-blog">
    <div class="py-lg-5 py-3 mx-2">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fs-3">Projects Created by Me</h1>
            <p class="textCol fw-500 px-3">
                I keep uploading some of my projects here, you can browse through them and their docs...
            </p>
            <div class="d-block mx-3">
                <form method="get" action="/search/" class="d-flex mb-3">
                    <input type="search" class="form-control rounded-2 border-0" name="query" id="query" placeholder="Search for articles, guides, tutorials..." aria-label="Search">
                </form>
            </div>
            <p class="mb-0">
                <a href="/blog/topics" class="my-2 me-2">
                    <button type="button" class="my-2 btn btn-sm btn-success rounded-2 fw-500 px-3"><i class="bi bi-ui-checks pe-1"></i> Topics</button>
                </a>
                <a href="/blog/development" class="my-2">
                    <button type="button" class="my-2 btn btn-sm btn-warning rounded-2 fw-500 px-3"><i class="bi bi-question-circle-fill pe-1"></i> Develop</button>
                </a>
            </p>
        </div>
    </div>
</section>

<!-- main section -->

<main class="container-fluid py-4 bg-back">
    <div class="album py-4">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow h-100 bg-nav topic-card">
                        <div class="d-flex align-items-center">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <img src="{% static 'images/password-generator.png' %}" width="60px" height="auto" class="rounded-circle p-1 bg-back img-fluid mb-2" alt="Text Utility">
                                    <div class="pb-4">
                                        <h5 class="card-title white">Password Generator</h5>
                                        <p class="card-text white">A random password generator made with Python.</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <a href="/projects/password-generator">
                                            <button class="btn btn-sm btn-warning textBlack fw-500 rounded-pill px-3">See →</button>
                                        </a>
                                        <a href="https://github.com/ajaycc17/password-generator" target="_blank" rel="noopener noreferrer">
                                            <i class="bi bi-github fs-5 white"></i>
                                        </a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow h-100 bg-nav topic-card">
                        <div class="row g-0 d-flex align-items-center">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div class="pb-4">
                                        <img src="{% static 'images/minifier.png' %}" width="60px" height="auto" class="img-fluid rounded-circle p-1 bg-back mb-2" alt="Code Minifier">
                                        <h5 class="card-title">Text Utility</h5>
                                        <p class="card-text">A simple text utility made with Django based on Python.</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <a href="/">
                                            <button class="btn btn-sm btn-warning textBlack fw-500 rounded-pill px-3">See →</button>
                                        </a>
                                        <i class="bi bi-github fs-5 white"></i>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow h-100 bg-nav topic-card">
                        <div class="row g-0 d-flex align-items-center">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div class="pb-4">
                                        <img src="{% static 'images/orbitgadget-project.png' %}" width="60px" height="auto" class="img-fluid rounded-circle p-1 bg-back mb-2" alt="OrbitGadget">
                                        <h5 class="card-title">OrbitGadget</h5>
                                        <p class="card-text">A web application made upon Django framework.</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <a href="/">
                                            <button class="btn btn-sm btn-warning textBlack fw-500 rounded-pill px-3">Visit →</button>
                                        </a>
                                            <a href="#"><i class="bi bi-github fs-5 boldText"></i></a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body %}