{% extends 'base.html' %}
{% block title %}Password Generator{% endblock title %}
{% block place %}Password Generator{% endblock place %}
{% block metaDesc %}A simple password generator that generates highly random passwords containing 12 to 100 characters based on user input.{% endblock metaDesc %}

{% block body %}
<main class="container my-5 container-reset">
    <h1 class="fs-4 text-center text-white">Generate Random Password</h1>
    <p class="text-center pt-2">
        Generate random passwords for securing your online accounts. You can generate a random password containing <span class="fw-500">12 to 100 characters</span> here.
    </p>
    <div class="subtleBorder rounded-3 px-3 pb-4 mx-auto d-block my-4" style="max-width:480px;">
        <form method='get' action='/projects/password-generator'>
            <div class="mt-4">
                <input type="number" class="form-control" id="strength" name="strength" aria-describedby="emailHelp" min="12" max="100" placeholder="Length of Password">
                <div id="emailHelp" class="form-text textCol">Minimum 12 and maximum 100</div>
            </div>
            <div>
                <button type="submit" class="btn btn-danger text-wrap px-4 py-2 mt-3 w-100 fw-500">
                GENERATE PASSWORD
                </button>
            </div>
        </form>
    </div>
    {% if password|length != 0 %}
        <pre class="my-4"><code class="language-password">{{password}}</code></pre>
    {% endif %}
    <div class="alert bg-card" role="alert">
        <span class="fw-500"><i class="bi bi-exclamation-circle-fill pe-2"></i>Optimal password length is 12-15 characters.</span> Here, you can generate Secret Key for Django as well (100 characters are good enough). Read more about the password generator <a class="fw-500 text-warning" href="/blog/random-password-generator-in-python">here</a>.
    </div>
</main>
{% endblock body %}